In [77]:
import numpy as np
import pandas as p
from sklearn.pipeline import Pipeline

In [78]:
data = p.read_csv('train.csv', sep=',')

In [79]:
data.head()

,line num,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [80]:
data.shape

(103904, 25)

In [81]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 25 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   line num                           103904 non-null  int64
 1   id                                 103904 non-null  int64
 2   Gender                             103904 non-null  object
 3   Customer Type                      103904 non-null  object
 4   Age                                103904 non-null  int64
 5   Type of Travel                     103904 non-null  object
 6   Class                              103904 non-null  object
 7   Flight Distance                    103904 non-null  int64
 8   Inflight wifi service              103904 non-null  int64
 9   Departure/Arrival time convenient  103904 non-null  int64
 10  Ease of Online booking             103904 non-null  int64
 11  Gate location                      103904 non-null  int64
 12  Food and drink                     103904 non-null  int64
 13  Online boarding                    103904 non-null  int64
 14  Seat comfort                       103904 non-null  int64
 15  Inflight entertainment             103904 non-null  int64
 16  On-board service                   103904 non-null  int64
 17  Leg room service                   103904 non-null  int64
 18  Baggage handling                   103904 non-null  int64
 19  Checkin service                    103904 non-null  int64
 20  Inflight service                   103904 non-null  int64
 21  Cleanliness                        103904 non-null  int64
 22  Departure Delay in Minutes         103904 non-null  int64
 23  Arrival Delay in Minutes           103594 non-null  float64
 24  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 19.8+ MB

Перетираем поля Arrival Delay со значениями null значением из поля Departure Delay

Удаляем поля id и line num за ненадобностью

In [82]:
data = data.fillna(0)
#data = data.drop(['line num', 'id','Arrival Delay in Minutes'], axis=1)

Распределение целевой переменной

In [83]:
targets = data.groupby('satisfaction').size()/len(data)
print(targets)

satisfaction
neutral or dissatisfied    0.566667
satisfied                  0.433333
dtype: float64

In [88]:
data['satisfaction'].value_counts()/len(data)

neutral or dissatisfied    0.566667
satisfied                  0.433333
Name: satisfaction, dtype: float64

Кодируем целевую переменную, результат сохраняем в массив y, из исходной таблицы удаляем столбец целевой переменной

In [8]:
from sklearn import preprocessing
from sklearn.preprocessing import OrdinalEncoder
le = preprocessing.LabelEncoder()

In [89]:
y = le.fit_transform(data['satisfaction'])
print(list(le.classes_))
print(y)

['neutral or dissatisfied', 'satisfied']
[0 0 1 ... 0 0 0]

In [90]:
data = data.drop(['satisfaction'], axis=1)

Отобразим все столбцы с типом object

In [91]:
X2 = data.select_dtypes(include=[object])
X2.head(3)

   Gender      Customer Type   Type of Travel     Class
0    Male     Loyal Customer  Personal Travel  Eco Plus
1    Male  disloyal Customer  Business travel  Business
2  Female     Loyal Customer  Business travel  Business

In [92]:
columnsToEncode = data.select_dtypes(include=[object]).columns.values

С помощью OrdinalEncoder закодируем три столбца

In [93]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.compose import ColumnTransformer, make_column_transformer
from sklearn.base import BaseEstimator

In [102]:
class DicTransformer(BaseEstimator):
    def __init__(self, dic):
        self.dic = dic

    def fit(self, X, y=None):
        return self
    
    def transform(self, input_df, **transform_params):
        for colName in input_df.columns:
            input_df[colName] = input_df[colName].map(self.dic)
        return input_df

In [103]:
classesDic = {'Eco' : 0, 'Eco Plus' : 1, 'Business': 2}

In [108]:
ordinalColumns = ['Gender','Customer Type','Type of Travel']
classesMapColumn = ['Class']
preproc = make_column_transformer((OrdinalEncoder(), ordinalColumns), 
                                  (DicTransformer(classesDic), classesMapColumn), 
                                  remainder='passthrough')

In [109]:
eee = preproc.fit_transform(data)

In [110]:
eee[:5]

array([[1.00000e+00, 0.00000e+00, 1.00000e+00, 1.00000e+00, 0.00000e+00,
        7.01720e+04, 1.30000e+01, 4.60000e+02, 3.00000e+00, 4.00000e+00,
        3.00000e+00, 1.00000e+00, 5.00000e+00, 3.00000e+00, 5.00000e+00,
        5.00000e+00, 4.00000e+00, 3.00000e+00, 4.00000e+00, 4.00000e+00,
        5.00000e+00, 5.00000e+00, 2.50000e+01, 1.80000e+01],
       [1.00000e+00, 1.00000e+00, 0.00000e+00, 2.00000e+00, 1.00000e+00,
        5.04700e+03, 2.50000e+01, 2.35000e+02, 3.00000e+00, 2.00000e+00,
        3.00000e+00, 3.00000e+00, 1.00000e+00, 3.00000e+00, 1.00000e+00,
        1.00000e+00, 1.00000e+00, 5.00000e+00, 3.00000e+00, 1.00000e+00,
        4.00000e+00, 1.00000e+00, 1.00000e+00, 6.00000e+00],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, 2.00000e+00, 2.00000e+00,
        1.10028e+05, 2.60000e+01, 1.14200e+03, 2.00000e+00, 2.00000e+00,
        2.00000e+00, 2.00000e+00, 5.00000e+00, 5.00000e+00, 5.00000e+00,
        5.00000e+00, 4.00000e+00, 3.00000e+00, 4.00000e+00, 4.00000e+00,
        4.00000e+00, 5.00000e+00, 0.00000e+00, 0.00000e+00],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, 2.00000e+00, 3.00000e+00,
        2.40260e+04, 2.50000e+01, 5.62000e+02, 2.00000e+00, 5.00000e+00,
        5.00000e+00, 5.00000e+00, 2.00000e+00, 2.00000e+00, 2.00000e+00,
        2.00000e+00, 2.00000e+00, 5.00000e+00, 3.00000e+00, 1.00000e+00,
        4.00000e+00, 2.00000e+00, 1.10000e+01, 9.00000e+00],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, 2.00000e+00, 4.00000e+00,
        1.19299e+05, 6.10000e+01, 2.14000e+02, 3.00000e+00, 3.00000e+00,
        3.00000e+00, 3.00000e+00, 4.00000e+00, 5.00000e+00, 5.00000e+00,
        3.00000e+00, 3.00000e+00, 4.00000e+00, 4.00000e+00, 3.00000e+00,
        3.00000e+00, 3.00000e+00, 0.00000e+00, 0.00000e+00]])

In [40]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [42]:
data

,line num,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,5,4,3,4,4,5,5,25,18.0
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,1,5,3,1,4,1,1,6.0
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,5,4,3,4,4,4,5,0,0.0
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,2,5,3,1,4,2,11,9.0
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,5,3,3,4,4,3,3,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,103899,94171,Female,disloyal Customer,23,Business travel,Eco,192,2,1,...,2,2,3,1,4,2,3,2,3,0.0
103900,103900,73097,Male,Loyal Customer,49,Business travel,Business,2347,4,4,...,5,5,5,5,5,5,5,4,0,0.0
103901,103901,68825,Male,disloyal Customer,30,Business travel,Business,1995,1,1,...,5,4,3,2,4,5,5,4,7,14.0
103902,103902,54173,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,...,1,1,4,5,1,5,4,1,0,0.0
103903,103903,62567,Male,Loyal Customer,27,Business travel,Business,1723,1,3,...,1,1,1,1,4,4,3,1,0,0.0

In [41]:
from sklearn.model_selection import train_test_split
ppl.fit(data, y)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [21]:
data.to_csv('train_n.csv', index=False, sep=',')

In [23]:
p.DataFrame(y).to_csv('train_n_y.csv', index=False, sep=',')

In [24]:
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

D:\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
D:\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """

In [25]:
from sklearn.linear_model import Perceptron
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB

In [26]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [27]:
kfold = KFold(n_splits=10, random_state=5)
model = Perceptron(max_iter=1000, tol=1e-3)
#model = LogisticRegression(multi_class='auto',solver='liblinear')
#model = DecisionTreeClassifier(max_depth=10)
#model = RandomForestClassifier(n_estimators=10)
#model = AdaBoostClassifier(n_estimators=10)
#model = GaussianNB()
print(model.get_params())
results = cross_val_score(model, X_train_scaled, y_train, cv=kfold)

{'alpha': 0.0001, 'class_weight': None, 'early_stopping': False, 'eta0': 1.0, 'fit_intercept': True, 'max_iter': 1000, 'n_iter': None, 'n_iter_no_change': 5, 'n_jobs': None, 'penalty': None, 'random_state': 0, 'shuffle': True, 'tol': 0.001, 'validation_fraction': 0.1, 'verbose': 0, 'warm_start': False}

In [28]:
print(results)

[0.83016304 0.8203125  0.75668025 0.81317935 0.78702446 0.7564538
 0.80649909 0.79562953 0.81372438 0.73241988]

In [29]:
clfrs = []
clfrs.append(('PC', Perceptron(max_iter=1000, tol=1e-3)))
clfrs.append(('LR', LogisticRegression(multi_class='auto',solver='liblinear')))
#clfrs.append(('KNN', KNeighborsClassifier()))
clfrs.append(('DT', DecisionTreeClassifier(max_depth=10)))
clfrs.append(('NB', GaussianNB()))
clfrs.append(('RF', RandomForestClassifier(n_estimators=10)))
clfrs.append(('AB', AdaBoostClassifier(n_estimators=10)))

In [30]:
total_results = {}
for algName, clfr in clfrs:
    kfold = KFold(n_splits=10, random_state=5)
    results = cross_val_score(clfr, X_train_scaled, y_train, cv=kfold)
    total_results[algName] = results
    print('{} mean:{}'.format(algName, results.mean()))

PC mean:0.7912086293508211
LR mean:0.874872582216139
DT mean:0.945005569046951
NB mean:0.8652935791386239
RF mean:0.9571548778163714
AB mean:0.893883592507619

In [37]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
base = LogisticRegression(multi_class='auto',solver='liblinear')#sklearn.ensemble.RandomForestClassifier()
Cs = [0.001, 0.01, 0.1, 1, 10, 100, 1000]
Penalties = ['l1','l2']
grid = {'C' : Cs, 'penalty': Penalties}

#grid = {"bootstrap": [True, False], 
#        "max_features": [1, 3, 5, 7, 9, 10]}
model = GridSearchCV(base, grid, cv=5)
model.fit(X_train_scaled, y_train)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='auto',
          n_jobs=None, penalty='l2', random_state=None, solver='liblinear',
          tol=0.0001, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'C': [0.001, 0.01, 0.1, 1, 10, 100, 1000], 'penalty': ['l1', 'l2']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [38]:
grid_search = model
res = (
    p.DataFrame({
        "mean_test_score": grid_search.cv_results_["mean_test_score"],
        "mean_fit_time": grid_search.cv_results_["mean_fit_time"]})
      .join(p.io.json.json_normalize(grid_search.cv_results_["params"]).add_prefix("param_"))
)

In [39]:
res.sort_values(by='mean_test_score', ascending=False)

    mean_test_score  mean_fit_time   param_C param_penalty
5          0.875008       0.657240     0.100            l2
4          0.874997       0.827378     0.100            l1
8          0.874986       0.721459    10.000            l1
10         0.874986       0.661842   100.000            l1
12         0.874975       0.782766  1000.000            l1
6          0.874963       0.717880     1.000            l1
7          0.874963       0.646253     1.000            l2
9          0.874952       0.683572    10.000            l2
11         0.874952       0.644230   100.000            l2
13         0.874952       0.649248  1000.000            l2
2          0.874941       0.466783     0.010            l1
3          0.874635       0.729920     0.010            l2
1          0.873423       0.475762     0.001            l2
0          0.869449       0.359871     0.001            l1

In [33]:
clfrs = [Perceptron(max_iter=1000, tol=1e-3), 
         DecisionTreeClassifier(max_depth=10), LogisticRegression(multi_class='auto',solver='liblinear')]
for clfr in clfrs:
    clfr.fit(X_train_scaled, y_train)
    pred_test = clfr.predict(X_test_scaled)
    print('{}:{:.2%}\n'.format(clfr.__class__.__name__, metrics.accuracy_score(y_test, pred_test)))

Perceptron:75.26%

DecisionTreeClassifier:94.34%

LogisticRegression:87.21%

In [27]:
rfc = RandomForestClassifier(n_estimators=100)
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [28]:
y_pred = rfc.predict(X_test)

In [29]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred)

0.9607019119722828

In [2]:
fe = p.DataFrame({'feat': data.columns, 'imp': rfc.feature_importances_})
#print([(x,y) for x,y in zip(data.columns, rfc.feature_importances_)])

NameError: name 'p' is not defined

In [31]:
fe.sort_values(by=['imp'], ascending=False)

                                 feat       imp
11                    Online boarding  0.189410
6               Inflight wifi service  0.139266
4                               Class  0.100570
3                      Type of Travel  0.089767
13             Inflight entertainment  0.056805
15                   Leg room service  0.043676
12                       Seat comfort  0.040782
5                     Flight Distance  0.037034
8              Ease of Online booking  0.035453
1                       Customer Type  0.033855
2                                 Age  0.032146
14                   On-board service  0.028927
18                   Inflight service  0.024812
16                   Baggage handling  0.024786
19                        Cleanliness  0.024542
17                    Checkin service  0.024208
7   Departure/Arrival time convenient  0.015860
9                       Gate location  0.014891
10                     Food and drink  0.013906
21           Arrival Delay in Minutes  0.012942
20         Departure Delay in Minutes  0.011542
0                              Gender  0.004823