In [14]:
import pandas as p
import numpy as np
from sklearn import preprocessing

In [2]:
data = p.DataFrame({"color" : ['red', 'blue', 'red', 'green']})

In [3]:
data.head()

   color
0    red
1   blue
2    red
3  green

In [4]:
p.get_dummies(data, columns=['color'])

   color_blue  color_green  color_red
0           0            0          1
1           1            0          0
2           0            0          1
3           0            1          0

In [5]:
ohe = preprocessing.OneHotEncoder()
p.DataFrame(ohe.fit_transform(data).toarray(),
    columns = ohe.get_feature_names(['color']))

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          0.0        1.0
3         0.0          1.0        0.0

In [6]:
data2 = p.DataFrame({'data': ['valid', 'not valid', 'valid']})

In [7]:
p.get_dummies(data2, columns=['data'],
              drop_first=True)

   data_valid
0           1
1           0
2           1

In [8]:
ohe2 = preprocessing.OneHotEncoder(drop='first')
p.DataFrame(ohe2.fit_transform(data2[['data']]).toarray(),
    columns = ohe2.get_feature_names(['data']))

   data_valid
0         1.0
1         0.0
2         1.0

In [40]:
import sklearn
sklearn.__version__

'0.22.1'

In [9]:
dummies_frame = p.get_dummies(data, columns=['color'])

df1 = p.get_dummies(p.DataFrame({'color':['red', 'black','white']}))
df1.reindex(columns = dummies_frame.columns, fill_value=0)

   color_blue  color_green  color_red
0           0            0          1
1           0            0          0
2           0            0          0

In [62]:
ohe = preprocessing.OneHotEncoder(handle_unknown='ignore')
res = ohe.fit_transform(data[['color']])
p.DataFrame(ohe.transform(p.DataFrame({'color':['red', 'black','white']})).toarray(),
    columns = ohe.get_feature_names(['color']))

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         0.0          0.0        0.0
2         0.0          0.0        0.0

In [19]:

from sklearn.compose import ColumnTransformer,make_column_transformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.tree import DecisionTreeClassifier

In [32]:
df = p.DataFrame({
    'favorite_color':['blue','green','red','green','blue'],
    'age': [10,15,10,np.nan,10],
    'target':[1,0,1,0,1]
})

preprocess = ColumnTransformer(
    [('categorical_preprocessing', OneHotEncoder(), ['favorite_color']),
    ('numerical_preprocessing', SimpleImputer(), ['age'])], remainder='passthrough')

preprocess = make_column_transformer(
    (OneHotEncoder(), ['favorite_color']),
    (SimpleImputer(), ['age']), remainder='passthrough')


# create the final pipeline with preprocessing steps and 
# the final classifier step
pipeline = Pipeline([
    ('preprocess', preprocess),
    ('clf', DecisionTreeClassifier())
])

In [33]:
preprocess.fit_transform(df)

array([[ 1.  ,  0.  ,  0.  , 10.  ,  1.  ],
       [ 0.  ,  1.  ,  0.  , 15.  ,  0.  ],
       [ 0.  ,  0.  ,  1.  , 10.  ,  1.  ],
       [ 0.  ,  1.  ,  0.  , 11.25,  0.  ],
       [ 1.  ,  0.  ,  0.  , 10.  ,  1.  ]])