In [4]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, LabelEncoder

Считать тренировочный набор данных из файла train.csv, просмотреть размерность полученного DataFrame, информацию о столбцах и их типах, количестве непустых записей. Посмотреть распределение целевой переменной

In [5]:
data = pd.read_csv('train.csv', sep=',')
data.head(5)

,line num,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 25 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   line num                           103904 non-null  int64
 1   id                                 103904 non-null  int64
 2   Gender                             103904 non-null  object
 3   Customer Type                      103904 non-null  object
 4   Age                                103904 non-null  int64
 5   Type of Travel                     103904 non-null  object
 6   Class                              103904 non-null  object
 7   Flight Distance                    103904 non-null  int64
 8   Inflight wifi service              103904 non-null  int64
 9   Departure/Arrival time convenient  103904 non-null  int64
 10  Ease of Online booking             103904 non-null  int64
 11  Gate location                      103904 non-null  int64
 12  Food and drink                     103904 non-null  int64
 13  Online boarding                    103904 non-null  int64
 14  Seat comfort                       103904 non-null  int64
 15  Inflight entertainment             103904 non-null  int64
 16  On-board service                   103904 non-null  int64
 17  Leg room service                   103904 non-null  int64
 18  Baggage handling                   103904 non-null  int64
 19  Checkin service                    103904 non-null  int64
 20  Inflight service                   103904 non-null  int64
 21  Cleanliness                        103904 non-null  int64
 22  Departure Delay in Minutes         103904 non-null  int64
 23  Arrival Delay in Minutes           103594 non-null  float64
 24  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 19.8+ MB

In [7]:
nullrows = data[data['Arrival Delay in Minutes'].isnull()].index
for idx in nullrows:
    data.loc[idx, 'Arrival Delay in Minutes'] = data.loc[idx, 'Departure Delay in Minutes']

In [8]:
data = data.drop(labels=['line num', 'id'], axis=1)

Отобразить все столбцы с типом object

In [ ]:
pass

Кодируем целевую переменную, результат сохраняем в массив y

In [ ]:
pass

Список полей для удаления - указываем поля, которые будем удалять, в т.ч. целевую переменную (она в переменной y). Не забываем удалять и в тестовом наборе

In [ ]:
columns_to_drop = []

In [ ]:
data = data.drop(columns_to_drop, axis=1)

In [ ]:
import ColumnTransformerWithNames as ct

Создаем списки столбцов для OrdinalEncoder и для OneHotEncoder. Создаем ColumnTransformerWithNames

In [ ]:
ordinalColumns = []
oneHotColumn = []
pass

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score, GridSearchCV
from sklearn.pipeline import Pipeline

Создаём конвейер, где первый шаг - созданный columnTransformer, а в качестве оценщика будет выступать случайный лес. Делаем поиск по сетке параметра n_estimators - количество оценщиков в ансамбле, max_dept - максимальная глубина дерева, max_features - количество признаков для разбиения (поиск по сетке сохраняем в переменную grid_search). Для ускорения можно воспользоваться RandomizedSearchCV

In [ ]:
pass

In [ ]:
res = (
    p.DataFrame({
        "mean_test_score": grid_search.cv_results_["mean_test_score"],
        "mean_fit_time": grid_search.cv_results_["mean_fit_time"]})
      .join(p.json_normalize(grid_search.cv_results_["params"]).add_prefix("param_"))
)

отображаем результаты поиска по сетке, отсортированные по убыванию оценки на кросс-валидации

In [ ]:
res.sort_values(by='mean_test_score', ascending=False)

Загружаем тестовые данные (файл test.csv), оцениваем точность алгоритма на них. (Предварительно кодируем целевую переменную, удаляем неиспользуемые столбцы. Пробразователи для столбцов с текстовыми признаками отработают в конвейере)

In [ ]:
pass

Создаем DataFrame на основе названий столбцов и значений важностей признаков, выводим с убывающей сортировкой по важности

Какие факторы более значимы для оценки (ТОП3)?

Какие факторы менее значимы для оценки (ТОП3)?

Влияет ли пол респондента на оценку перелета?